@charset "UTF-8";
html {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button,
textarea,
input {
  cursor: pointer;
}

address {
  font-style: normal;
}

/*Встановив основний та резервний шрифти та фоновий колір для боди*/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--color-h);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*Прибрав підкреслювання з посилань*/
.link {
  text-decoration: none;
}

.centered {
  text-align: center;
}

:root {
  --color-text: #757575;
  --color-h: #212121;
  --white-color-text: #FFFFFF;
  --accent: #2196F3;
  --logo-color: #000000;
  --darc-bgc: #2F303A;
  --second-bgc: #F5F5F5;
  --third-bgc-color: #F5F4FA;
  --icon-color: #AFB1B8;
  --modal-color:rgba(117, 117, 117, 0.5);
  --bord-color: rgba(33, 33, 33, 0.2);
  --placehold-color: rgba(255, 255, 255, 0.6);
  --black-back: rgba(0, 0, 0, 0.2);
  --regular-size: 12px;
  --king-size: 16px;
  --low-size: 14px;
  --title-size: 36px;
  --modal-size: 20px;
  --head-size: 26px;
  --weight-one: 700;
  --weight-two: 400;
  --weight-three: 500;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page-header {
  background-color: var(--white-color-text);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-container {
    justify-content: flex-start;
  }
}

.list-adress {
  display: none;
  align-items: center;
  padding-right: 0;
}
.list-adress .list-adress__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .list-adress {
    display: block;
  }
  .list-adress .list-adress__item:not(:last-child) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .list-adress {
    display: flex;
  }
  .list-adress .list-adress__item:not(:last-child) {
    margin-right: 30px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
  align-items: center;
  padding-right: 318px;
}
.header-list .header-list__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    padding-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    padding-right: 318px;
  }
}

.header-list__link,
.header-list__link-blue {
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link-blue {
  position: relative;
}
.header-list__link-blue::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent);
  border-radius: 2px;
  top: 76px;
  left: 0;
  background-size: contain;
  transform: translateY();
}

.list-adress .list-adress__item,
.header-list .header-list__item {
  display: block;
}

.header-list__item {
  list-style: none;
}
.header-list .header-list__item, .list-adress .header-list__item {
  text-align: center;
}

.studio {
  margin-left: 0;
}

.logo,
.logo-white,
.logo__logo-bleck {
  margin-right: 0;
  padding-right: 0;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-weight: var(--weight-one);
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent);
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 0;
  text-decoration: none;
}
.logo:hover, .logo:focus {
  color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: var(--head-size);
    line-height: 1.19;
  }
}

.logo__logo-bleck {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: var(--head-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__logo-bleck:hover, .logo__logo-bleck:focus {
  color: var(--accent);
}

.logo-white {
  color: var(--white-color-text);
  font-family: Raleway;
  font-size: var(--head-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-white:hover, .logo-white:focus {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  .logo-top {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-top {
    margin-right: 93px;
  }
}

.header-list__link {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-h);
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent);
}

.header-list__link-blue {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent);
}
.header-list__link-blue:hover, .header-list__link-blue:focus {
  color: var(--accent);
}

.list-adress__link-mail {
  display: flex;
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-left: 0;
  align-items: center;
  justify-content: center;
  padding-top: 21px;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-adress__link-mail:hover, .list-adress__link-mail:focus {
  color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .list-adress__link-mail {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

.list-adress__link-phone {
  display: flex;
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  align-items: center;
  justify-content: left;
  padding-bottom: 21px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-adress__link-phone:hover, .list-adress__link-phone:focus {
  color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .list-adress__link-phone {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
  }
}

.header-mail {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.list-adress__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-burger {
  border: none;
  font: inherit;
  color: 0;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header-burger {
    display: none;
  }
}

.hero {
  display: block;
  background-color: #303030;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  width: calc(100% - 4px);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header2xmobile.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    min-width: 480px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header2xmobile.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header2xtablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero4.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header2xdesktop.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  color: var(--white-color-text);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: center;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    min-width: 696px;
  }
}

.advances {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .advances {
    padding-top: 93px;
    padding-bottom: 93px;
  }
}

.advances-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advances-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advances-item {
    width: calc((100% - 90px) / 4);
  }
}

.advances-title {
  font-weight: 700;
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-h);
  margin-bottom: 10px;
  margin-top: 0;
}

.advances-text {
  font-size: var(--low-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  max-width: 270px;
}

.advances-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.advances-box {
  height: 120px;
  background-color: var(--third-bgc-color);
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
}

.about {
  padding-bottom: 94px;
  display: flex;
  font-size: var(--title-size);
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-title {
  font-weight: 700;
  font-size: var(--title-size);
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-h);
  margin-bottom: 50px;
  text-align: center;
}

.about-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.about-item {
  display: flex;
  position: relative;
}

.about-box {
  position: absolute;
  display: inline-block;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.about-title-next {
  position: absolute;
  display: inline-block;
  font-weight: 700;
  font-size: var(--low-size);
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-text);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  background-color: var(--third-bgc-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  list-style: none;
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color-text);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-title-all {
  font-weight: var(--weight-one);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--color-h);
}
@media screen and (min-width: 1200px) {
  .team-title-all {
    font-size: var(--title-size);
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-title {
  font-weight: var(--weight-three);
  font-size: var(--king-size);
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-h);
  margin-bottom: 10px;
}

.team-text {
  font-size: var(--king-size);
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 16px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-link-soc {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color, box-shadow, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-soc:hover, .team-link-soc:focus {
  background-color: var(--accent);
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-icon {
  fill: var(--icon-color);
  transition-property: background-color, color, box-shadow, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-soc:hover .team-soc-icon, .team-link-soc:focus .team-soc-icon {
  fill: var(--white-color-text);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*.container-clients{
  display: flex;
}*/
.client-title-all {
  font-weight: var(--weight-one);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client-title-all {
    font-size: var(--title-size);
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1170px;
  margin: 0;
  padding-left: 0;
}

.client-item {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .client-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  display: flex;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent);
}

.client-icon {
  fill: var(--icon-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: var(--accent);
}

.but-projects {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .but-projects {
    padding-top: 94px;
  }
}

.but-projects__list {
  list-style: none;
  margin-bottom: 40px;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .but-projects__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .but-projects__list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.menu.center {
  justify-content: center;
}

.but-projects__item {
  background-color: var(--second-bgc);
  display: inline-block;
}

.projects-list__top {
  position: relative;
  overflow: hidden;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
}

.projects-list__top-text {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 0;
  top: 0;
  font-weight: var(--weight-two);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color-text);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__item:hover .projects-list__top-text {
  transform: translateY(0);
}

.projects-list__item:hover .projects-list__top-text {
  transform: translateY(0);
}

.projects-list__title {
  font-family: "Roboto";
  font-weight: var(--weight-one);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-h);
  margin-bottom: 4px;
}

/*Застилізував текст в розділі 9 проектів Портфоліо*/
.projects-list__text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/*Застилізував фон навколо 9 посилань Портфоліо*/
.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/*.projects-list__item,*/
.projects-list__link {
  display: block;
}

.projects-list__item {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__item:hover, .projects-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .projects-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects-list__item {
    width: calc((100% - 60px) / 3);
  }
}

/*Застилізував рамкою текст під фото*/
.projects-list__borders {
  display: block;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.footer {
  background-color: var(--darc-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-logo-address {
  width: 231px;
  margin-bottom: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-logo-address {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.logfut {
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logfut {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logfut {
    font-size: 26px;
    line-height: 1.19;
    padding-bottom: 0;
  }
}

.footer-adress {
  font-style: normal;
}

.footer-item {
  display: block;
}
.footer-list .footer-item:not(:last-child) {
  padding-bottom: 9px;
}

.link-phone {
  padding-bottom: 0;
}

.footer-link-adress {
  font-weight: var(--weight-two);
  font-size: var(--low-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color-text);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-adress:hover, .footer-link-adress:focus {
  color: var(--accent);
}

.footer-link-mail {
  font-family: "Roboto";
  font-weight: var(--weight-two);
  font-size: var(--low-size);
  line-height: 1.71;
  color: var(--placehold-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-mail:hover, .footer-link-mail:focus {
  color: var(--accent);
}

.footer-link-phone {
  font-family: "Roboto";
  font-weight: var(--weight-two);
  font-size: var(--low-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--placehold-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-phone:hover, .footer-link-phone:focus {
  color: var(--accent);
}

.logo-address {
  margin-right: 70px;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-link-soc {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-soc:hover, .footer-link-soc:focus {
  background-color: var(--accent);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.footer-soc-text {
  font-weight: var(--weight-one);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-text);
  margin-bottom: 20px;
}

.footer-soc-icon {
  fill: var(--white-color-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-soc:hover .footer-soc-icon, .footer-link-soc:focus .footer-soc-icon {
  fill: var(--white-color-text);
}

.footer-join {
  margin-bottom: 60px;
  text-align: center;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-join {
    text-align: left;
    margin-left: 0;
    margin-right: 93px;
    margin-top: 12px;
    margin-bottom: 0px;
  }
}

.logo-address {
  margin-right: 70px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  position: relative;
  max-width: 480px;
  padding-left: 40px;
  padding-right: 15px;
}

.mobile-menu__button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: var(--white-color-text);
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.mobile-menu__close-icon {
  position: absolute;
  fill: var(--logo-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--accent);
}

.mobile-menu__list-nav {
  margin-top: 38px;
  margin-bottom: 302px;
}

.mobile-menu__link-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link-nav-blue {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__list-connect {
  margin-bottom: 64px;
}

.mobile-menu__item-connect:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link-connect-blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__link-connect {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__list-soc {
  display: flex;
  margin-bottom: 48px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mobile-menu__list-soc .mobile-menu__item-soc:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__link-soc {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__link-soc::after {
  content: " ";
  position: absolute;
  display: block;
  top: 10px;
  left: calc(100% + 0px);
  background-size: contain;
  width: 22px;
  height: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__link-soc-end {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.marg-x {
  margin-bottom: 35.71px;
}

.marg-y {
  margin-bottom: 32px;
}

.footer-post {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-post {
    margin-top: 12px;
  }
}

.footer-form {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-wrap {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.footer-btn {
  width: 200px;
  height: 50px;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: var(--king-size);
  line-height: 1.87;
  align-items: center;
  text-align: justify;
  color: var(--white-color-text);
  letter-spacing: 0.06em;
  transition-property: color, background, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover, .footer-btn:focus {
  background-color: var(--white-color-text);
  color: var(--accent);
}

.fut-input-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-40%);
  fill: var(--white-color-text);
}
.footer-btn:hover .fut-input-icon, .footer-btn:focus .fut-input-icon {
  fill: var(--accent);
}

.footer-text-form {
  font-weight: 700;
  font-size: var(--low-size);
  line-height: 1.14;
  color: var(--white-color-text);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-text-form {
    text-align: left;
  }
}

.footer-input {
  background: var(--darc-bgc);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: calc(100% - 30px);
  height: 50px;
  font-weight: 700;
  font-size: var(--king-size);
  line-height: 1.87;
  color: var(--white-color-text);
  padding-left: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    margin-bottom: 0px;
    width: 358px;
    margin-right: 12px;
  }
}
.footer-input::-moz-placeholder {
  font-weight: 400;
  font-size: var(--king-size);
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--placehold-color);
  padding-left: 16px;
}
.footer-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: var(--king-size);
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--placehold-color);
  padding-left: 16px;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: var(--king-size);
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--placehold-color);
  padding-left: 16px;
}

.form-input {
  padding-left: 42px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid var(--bord-color);
  border-radius: 4px;
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--color-text);
}
.form-input::-moz-placeholder {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--color-text);
}
.form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--color-text);
}
.form-input::placeholder {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--color-text);
}
.form-input:focus {
  outline-color: var(--accent);
}
.form-input:focus + .input-icon {
  fill: var(--accent);
}

.modal-text {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--modal-color);
}
.modal-text:focus {
  outline-color: var(--accent);
}

.check-text {
  height: 24px;
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  align-items: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  display: flex;
  margin-right: 7px;
  justify-content: center;
  font-weight: 400;
  font-size: var(--low-size);
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--color-text);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  background-color: var(--accent);
  border: none;
}
.input-check:focus + .check-text span {
  border-color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: var(--low-size);
    line-height: 1.16;
  }
}

.check-icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text .check-icon {
  fill: var(--white-color-text);
}

.check-link {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent);
  padding-left: 3px;
}
@media screen and (min-width: 1200px) {
  .check-link {
    font-size: var(--low-size);
    line-height: 1.16;
  }
}

.input-title {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--color-text);
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid var(--bord-color);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--modal-color);
  display: block;
}

.input-field:not(:last-child) {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.input-field-hidd {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
}

.batton-form {
  font-weight: 700;
  font-size: var(--king-size);
  line-height: 30px;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color-text);
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  height: 50px;
  width: 200px;
  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.batton-form:hover, .batton-form:focus {
  color: var(--accent);
  background-color: var(--white-color-text);
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  font-weight: var(--weight-one);
  font-size: var(--king-size);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color-text);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--white-color-text);
  color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .btn {
    padding: 10px 32px;
  }
}

.but-projects__button {
  display: inline-block;
  padding: 6px 22px;
  font-family: "Roboto";
  font-size: var(--king-size);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h);
  background: var(--third-bgc-color);
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.but-projects__button:hover, .but-projects__button:focus {
  color: var(--white-color-text);
  background: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-back);
  display: block;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  background: var(--white-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotate(360deg);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-color-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  /*прозрачний елемент робить чутливим до роботи з елементами під ним*/
  pointer-events: none;
  visibility: hidden;
}

.modal-close-icon {
  position: absolute;
  fill: var(--logo-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover, .modal-close-icon:focus {
  fill: var(--accent);
}

.modal-title {
  font-weight: 700;
  font-size: var(--modal-size);
  line-height: 1.15;
  text-align: center;
  color: var(--color-h);
  margin-bottom: 12px;
}/*# sourceMappingURL=main.css.map */