@import 'base/reset';
@import 'utils/variables';
@import 'utils/hidden';
@import 'layauts/header';
@import 'layauts/hero';
@import 'layauts/advanses';
@import 'layauts/about';
@import 'layauts/team';
@import 'layauts/clients';
@import 'layauts/bat-projects';
@import 'layauts/projects';
@import 'layauts/footer';
@import 'components/container';
@import 'components/form-footer';
@import 'components/fofm-modal';
@import 'components/batton-hero';
@import 'components/button-portf';
@import 'layauts/backdrop';