.advances {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;

  @include desktop {
    padding-top: 93px;
    padding-bottom: 93px;
  }
}

.advances-item {
  width: 100%;
  
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.advances-title {
  font-weight: 700;
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-h);
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;

  @include tablet{
    text-align: left;
  }
}

.advances-text {
  font-size: var(--low-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.advances-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.advances-box {
  height: 120px;
  background-color: var(--third-bgc-color);
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
}
