.but-projects {
  padding: 60px 0;
  @include desktop {
    padding-top: 94px;
  }
}

.but-projects__list {
  list-style: none;
  margin-bottom: 40px;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;

  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.menu.center {
  justify-content: center;
}

.but-projects__item {
  background-color: var(--second-bgc);
  display: inline-block;
}
