.footer {
  background-color: var(--darc-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  display: block;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop{
    // align-items: flex-start;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-logo-address {
  // width: 231px;
  margin-bottom: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  // @include mobile{
  //   margin-left: auto;
  // }
  @include desktop {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
    margin-left: 0;
  
  }
}

.logfut {
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-top: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    // padding-top: 0;
  }
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
    // padding-bottom: 0;
  }
}

.footer-adress {
  font-style: normal;
}

.footer-item {
  display: block;
  .footer-list &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.link-phone {
  padding-bottom: 0;
}

.footer-link-adress {
  font-weight: var(--weight-two);
  font-size: var(--low-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color-text);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer-link-mail {
  font-family: 'Roboto';
  font-weight: var(--weight-two);
  font-size: var(--low-size);
  line-height: 1.71;
  color: var(--placehold-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer-link-phone {
  font-family: 'Roboto';
  font-weight: var(--weight-two);
  font-size: var(--low-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--placehold-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.logo-address {
  margin-right: 70px;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-link-soc {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.footer-soc-text {
  font-weight: var(--weight-one);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-text);
  margin-bottom: 20px;
}

.footer-soc-icon {
  fill: var(--white-color-text);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .footer-link-soc:hover &,
  .footer-link-soc:focus & {
    fill: var(--white-color-text);
  }
}

.footer-join {
  margin-bottom: 60px;
  text-align: center;
  // width: 206px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    // margin-top: 12px;
    margin-bottom: 0px;
  }
}

.logo-address {
  margin-right: 70px;
}
// .footer-post {
//   display: block;
// }
