.page-header {
  background-color: var(--white-color-text);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  @include tablet {
    justify-content: flex-start;
  }
}

.list-adress {
  display: none;
  align-items: center;
  padding-right: 0;
  margin-left: auto;
  & .list-adress__item:not(:last-child) {
    margin-right: 30px;
  }

  @include tablet {
    display: block;
    & .list-adress__item:not(:last-child) {
      margin-right: 0px;
    }
  }
  @include desktop {
    display: flex;
    & .list-adress__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
  align-items: center;

  & .header-list__item:not(:last-child) {
    margin-right: 50px;
  }
  @include tablet {
    display: flex;
    // padding-right: 80px;
  }
  @include desktop {
    // padding-right: 318px;
  }
}

.header-list__link,
.header-list__link-blue {
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link-blue {
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent);
    border-radius: 2px;
    top: 77px;
    left: 0;
    background-size: contain;
    transform: translateY();
  }
}

.list-adress .list-adress__item,
.header-list .header-list__item {
  display: block;
}

.header-list__item {
  list-style: none;

  .header-list &,
  .list-adress & {
    text-align: center;
  }
}

.studio {
  margin-left: 0;
}

.logo,
.logo-white,
.logo__logo-bleck {
  margin-right: 0;
  padding-right: 0;
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: var(--weight-one);
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent);
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent);
  }
  @include desktop {
    font-size: var(--head-size);
    line-height: 1.19;
  }
}

.logo__logo-bleck {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: var(--head-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.logo-white {
  color: var(--white-color-text);
  font-family: Raleway;
  font-size: var(--head-size);
  line-height: 1.19;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.logo-top {
  // margin-right: 276px;
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}

.header-list__link {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-h);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-list__link-blue {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.list-adress__link-mail {
  display: flex;
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-left: 0;
  align-items: center;
  justify-content: center;
  padding-top: 21px;
  margin-bottom: 10px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

.list-adress__link-phone {
  display: flex;
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  align-items: center;
  justify-content: left;
  padding-bottom: 21px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
  }
}

.header-mail {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.list-adress__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-burger {
  border: none;
  font: inherit;
  color: blue($color: #000000);
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  @include tablet {
    display: none;
  }
}
