.page-header {
  background-color: var(--white-color-text);
  border-bottom: 1px solid #ECECEC;
  }

.header-container {
  display: flex;
}

/*Поставив в строку три елементи списку в хедері*/
.header-list-adress {
  display: flex;
  align-items: center;
  padding-right: 0;
  & .header-item:not(:last-child) {
      margin-right: 30px;
    }
}

/*Задали флекс контейнеру в хедері та 
вирівняли елементи вздовж осі*/
.head-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  padding-right: 318px;

  & .header-item:not(:last-child) {
    margin-right: 50px;
  }
}


.header-link,
.header-link-blue,
.header-link-mail,
.header-link-phone {
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-blue {
  position: relative;

  &::after {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background: var(--accent);
      border-radius: 2px;
      top: 76px;
      left: 0;
      background-size: contain;
      transform: translateY();
    }
}

.header-list-adress .header-item,
.header-list .header-item {
  display: block;
}

/*Прибрав точки зі списку в Хедері*/
.header-item {
  list-style: none;

  .header-list &,
  .header-list-adress & {
      text-align: center;
    }
}

.studio {
  margin-left: 0;
}

/*Застилізував Лого, 
встановив праві марджини та паддінг на логотип в футері на обох сторінках*/
.logo,
.logo-white,
.logo-bleck {
  margin-right: 0;
  padding-right: 0;
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: var(--weight-one);
  font-size: var(--head-size);
  letter-spacing: 0.03em;
  color: var(--accent);
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.logo-bleck {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: var(--head-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.logo-white {
  color: var(--white-color-text);
  font-family: Raleway;
  font-size: var(--head-size);
  line-height: 1.19;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.top {
  margin-right: 93px;
}

/*Застилізував Хедер посилання*/
.header-link {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-h);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-link-blue {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-link-mail {
  display: flex;
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-left: 0;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-link-phone {
  display: flex;
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.header-mail {
  font-weight: var(--weight-three);
  font-size: var(--low-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-container {
  display: flex;
}