
.form-input {
  padding-left: 42px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid var(--bord-color);
  border-radius: 4px;
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--color-text);

  &::placeholder {
    font-weight: 400;
    font-size: var(--regular-size);
    line-height: 1.16;
    color: var(--color-text);
  }
  &:focus {
    outline-color: var(--accent);
  }
  &:focus+.input-icon {
    fill: var(--accent);
  }
}
.modal-text {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--modal-color);
  &:focus {
    outline-color: var(--accent);
  }
}
.check-text {
  height: 24px;
  font-weight: 400;
  font-size: var(--low-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  align-items: center;
  & span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    display: flex;
    margin-right: 7px;
    justify-content: center;
    font-weight: 400;
    font-size: var(--low-size);
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--color-text);
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .input-check:checked+& {
      background-color: var(--accent);
      border: none;
    }
  
    .input-check:focus+& {
      border-color: var(--accent);
    }
  }
}

.check-icon {
  fill: transparent;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .input-check:checked+.check-text & {
    fill: var(--white-color-text);
  }
}
.check-link {
  font-weight: 400;
  font-size: var(--low-size);
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent);
}
.input-title {
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--color-text);
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid var(--bord-color);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: var(--regular-size);
  line-height: 1.16;
  color: var(--modal-color);
  display: block;
}
.input-field {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}


.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.input-field-hidd {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
}

.batton-form {
  font-weight: 700;
  font-size: var(--king-size);
  line-height: 30px;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color-text);
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  height: 50px;
  width: 200px;

  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
    background-color: var(--white-color-text);
  }
}

