html {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button,
textarea,
input {
  cursor: pointer;
}

address {
  font-style: normal;
}

/*Встановив основний та резервний шрифти та фоновий колір для боди*/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-h);
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/*Прибрав підкреслювання з посилань*/
.link {
  text-decoration: none;
}
.centered {
  text-align: center;
}
