:root {
  --color-text: #757575;
  --color-h: #212121;
  --white-color-text: #FFFFFF;
  --accent: #2196F3;
  --logo-color: #000000;
  --darc-bgc: #2F303A;
  --second-bgc: #F5F5F5;
  --third-bgc-color: #F5F4FA;
  --icon-color: #AFB1B8;
  --modal-color:rgba(117, 117, 117, 0.5);
  --bord-color: rgba(33, 33, 33, 0.2);
  --placehold-color: rgba(255, 255, 255, 0.6);
  --black-back: rgba(0, 0, 0, 0.2);

  --regular-size: 12px;
  --king-size: 16px;
  --low-size: 14px;
  --title-size: 36px;
  --modal-size: 20px;
  --head-size: 26px;

  --weight-one: 700;
  --weight-two: 400;
  --weight-three: 500;
}